body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
    background-color: #888888;
    height: 2000px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

.header{
    background-color: #888888;
    height: auto;
    
}

.container-menu{
    height: 60px;
    background-color: antiquewhite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}
.container-logo{
    color: #1e2937;
    width: 100%;
    height: inherit;
    background-color: azure;
    text-align: center;
}

.site-title{
    margin: 0;
    padding: 0.36em 0;
}

.container-imagen{
    background-image: url(../img/pexels-sabel-blanco-1480520.jpg);
    background-size: cover;
    background-position: center;
    height: 240px;
    /* margin-bottom: 20px; */
}
.container-imagen:hover{
    opacity: 0.9;
}
a{
    color: burlywood;
}

.nav-list{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%
}

.nav-element{
    padding: 1em 15px;
    display: inline-block;
    text-decoration: none;
    color: #3e3e3e;

}

.nav-element:hover{
    transform: scale(1.05);
}

.image-text{
    color: #888888;
    margin: 0;
    padding: 9% 0;
    text-align: center;
}



.footer{
    height: 200px;
    background-color: yellowgreen;
    bottom: 0px;
    /* position: fixed; */
    /* width: 1200px; */
}



hr{
    color: white;
}

.main-menu{
    background-color: #8e2126;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.main-menu__item{
    line-height: 3;
}
.dropdown{
    position: relative;
    display: inline-block;
    
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    
}
.dropdown-content a{
    right: 10px;
    position: relative;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}
.dropdown:hover .dropdown-content{
    display: block;
}    
.active{
    background-color: brown;
}

.main-menu__link{
    text-decoration: none;
    margin: 15px;
    font-size: 1em;
    color: #1e2937;
}

.main-menu__link:hover{
    text-decoration: dashed;
    font-weight: bold;
    color: #888888;
    transition: all 0.3s 0.2s;
}
/* caracteristicas del slider de imagenes que salio feo  no funciono */
.slider{
    width: max-content;
    height: 800px;
    overflow: hidden;
    animation: cambio 20s infinite;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
}
.slider li{
    list-style: none;
    width:fit-content;
}
.slider li img{
    width: 1200px;
    height: 800px;
}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}